@model Ressource
@{
    ViewData["Title"] = "PublierRessource";
    //TODO: Récupèrer le citoyen connecté
    int CitoyenID = 8;
}
@section Styles{
    <link href="~/lib/simditor/styles/simditor.css" rel="stylesheet" />
    <link href="~/css/ajouterRessource.css" rel="stylesheet" />
    <link href="~/lib/select2/css/select2.css" rel="stylesheet" />
}
@section Scripts{
    <script src="~/lib/simditor/lib/module.js"></script>
    <script src="~/lib/simditor/lib/hotkeys.js"></script>
    <script src="~/lib/simditor/lib/uploader.js"></script>
    <script src="~/lib/simditor/lib/simditor.js"></script>
    <script src="~/lib/select2/js/select2.js"></script>
    <script src="~/js/publierRessource.js"></script>
}
<div class="container">
    <div class="container-form">
        <div class="header-form">
            <h1>Ajouter une ressource</h1>
        </div>
        <div class="body-form">
            <form method="post">
                <input type="hidden" value="@CitoyenID" asp-for="CitoyenID">
                <div class="row">
                    <div class="col">
                        <select id="diffusion" class="diffusion" name="TypeRelationID" asp-items="ViewBag.Diffusions"></select>
                        <label class="float-right mr-3" for="diffusion">Sélectionner le cercle de diffusion</label>

                    </div>
                </div> 
                <div class="row">
                    <div class="col">
                        <label for="Titre">Titre</label>
                        <input class="form-control mb-3" asp-for="Titre">
                    </div>
                </div>
                <div class="row">
                    <div class="col mt-3">
                        <label>Catégorie</label>
                        <select asp-items="@ViewBag.Categories" name="CategorieID" class="form-control">
                            <option value="">Sélectionner une catégorie</option>
                        </select>
                    </div>
                    <div class="col mt-3">
                        <label>Type de ressource</label>
                        <select asp-items="@ViewBag.TypesRessources" name="TypeRessourceID" class="form-control">
                            <option value="">Sélectionner un type de ressource</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col mt-3">
                        <label for="editor">Contenu de la ressource</label>
                        <textarea required asp-for="Contenu"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col mt-3">
                        <label for="Tags">Ajouter des tags</label>
                        <select asp-items="@ViewBag.Tags" style="width:100%;" multiple="multiple" name="Tags[]" id="Tags"></select>
                    </div>
                </div>
                <div class="row">
                    <div class="col mt-3">
                        <input class="btn btn-primary mt-3" type="submit" value="Publier la ressource">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
