.header-form{
    background-color: #51b37f;

    padding: 10px;
}
    .header-form h1 {
        font-size: 1.65em;
        color: white;
    }
.body-form{
    background-color: white;
    padding: 15px;
}

.diffusion{
    float: right;
}