a{
    color: forestgreen;
}
table{
    width: 100%;
    font-size: 1.1em;
}
.table-header{
    font-weight: bold;
    background-color: forestgreen;
    color: white;
}
.table-body{
    background-color: white;
}
.logo{
    font-size: 1.30em;
    padding-left: 25px;
    width: 30px;
    vertical-align: middle;
}
.titre, .stats {
    display: flex;
    flex-direction: column;
}
.titre .auteur{
    font-size: 0.8em;
}
tr th, td {
    padding: 11px;
}
.titre-td{
    width: 60%;
}
    .stats-td{
        text-align: right;
        width: 10%;
    }
    .last-message{
        width:  30%;
        padding-left: 45px;
    }

    td{
        border-bottom: 1px solid lightgray;
    }

    .toolbar{
        margin-bottom: 20px;
    }