.informations{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-size: 0.85em;
    border-bottom: 1px solid black;
    padding: 0 0 15px 0;
}
.informations div{
    margin-right: 20px;
}
.ressource-content{
    width: 100%;
}

.auteur {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-left: auto;
    margin-bottom: 15px;
    padding: 5px;
    background-color: rgb(180 191 245);
    border-radius: 5px;
}

.reponse{
    padding-top: 20px;
}
 .ressource-auteur-info{
     margin-bottom: 5px;
 }

.filtres-commentaire{
    margin-bottom: 9px;
}

.commentaires .ressource-box:not(:last-child) {
    border-bottom: 1px solid lightgrey;
}